$color-background-main: #fdfcfb;
$color-background-accent: #4A6A5A;
$color-text-main: #3C564A;
$color-heading-highlight: #3C564A;



$color-button-primary: #3C564A;
$color-button-hover: #5b8570;
$color-button-secondary: #5b8570;
$color-border: #a8bfa7;

$color-success-bg: #ccffcc;
$color-success-text: #2e7d32;
$color-error-bg: #ffcccc;
$color-error-text: #c62828;

$header-bg: $color-background-accent;
$header-text: $color-background-main;
$header-button: $color-button-primary;

$page-bg: $color-background-main;
$page-text: $color-text-main;
$page-button-primary: $color-button-primary;
$page-button-secondary: $color-button-secondary;

$highlight-bg: $color-background-accent;
$highlight-text: $color-heading-highlight;
$highlight-button: $color-button-hover;

$footer-bg: $color-text-main;
$footer-text: $color-background-main;
$footer-icon: $color-border;

$font-main: 'Segoe UI', sans-serif;