
$color-background-main:      #F9F9F9;
$color-background-accent:    #4A6A5A;
$color-text-main:            #3C564A;
$color-heading-highlight:    #E3C392;
$color-button-primary:       #D6A76E;
$color-button-hover:         #B58259;
$color-button-secondary:     #F0E0C0;
$color-border:               #8C6E4E;

$header-bg:                  $color-background-accent;
$header-text:                $color-background-main;
$header-button:              $color-button-primary;

$page-bg:                    $color-background-main;
$page-text:                  $color-text-main;
$page-button-primary:        $color-button-primary;
$page-button-secondary:      $color-button-secondary;

$highlight-bg:               $color-background-accent;
$highlight-text:             $color-heading-highlight;
$highlight-button:           $color-button-hover;

$footer-bg:                  $color-text-main;
$footer-text:                $color-background-main;
$footer-icon:                $color-border;


$font-main: 'Segoe UI', sans-serif;
